{% extends "examen/base_sysqa.html" %}
{% block content %}
        <h1>SYSQA Analytische test</h1>
        <h2>Kies het juiste antwoord</h2>

        <input type="radio" id="vehicle1" name="vehicle" value="Bike">
        <label for="vehicle1"> Antwoord 1</label><br>
        <input type="radio" id="vehicle2" name="vehicle" value="Car">
        <label for="vehicle2"> Antwoord 2</label><br>
        <input type="radio" id="vehicle3" name="vehicle" value="Boat">
        <label for="vehicle3"> Antwoord 3</label><br>
        <input type="submit" value="Submit">
{% endblock content %}